.googleFont {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 90px;
    color: white;
    padding-left: 540px;
    padding-top: 125px;
} 

.backgroundColor {
    background-color: black;
}

.grayColor {
    color: lightgray;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-left-color: black;
    border-right-color: black;
    padding-left: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
}
